/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1200px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color:#222;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
}

h1 {font-size: 3rem}
h2 {font-size: 2rem}
h3 {font-size: 1rem}


p{
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}

header{
background-color: #222;
}

.a {
    margin-left: 18px;
    margin-right:18px;
    background-color: #c78c06;
    width: 98%;
}
.logo{
    width: 195px;
    height: 220px;
    padding-left: 20px;
}

.home a {
    color:#222;
}

.home {    
    margin-left: 21px;
    background-color: #c78c06;
    display:flex;
    width: 98%;
    justify-content: center;
    font-weight: bold;
}

nav ul {
display: flex;
align-items: center;
justify-content:space-between;
flex-direction: column;
width: 100%;
text-align: center;
min-height: 500px;
}

header a{
color: #c78c06;
text-decoration: none;
list-style-type: none;
font-weight: bold;
text-align: center;
font-size: 30px;}

nav input[type=text]
{
    justify-content: left;
    width: 80%;
    height: 50px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top:50px;
    font-size: 20px;     
}
i {
    padding-left: 6px;
}
button {
    background-color: #222;
    color: white;
    font-size: 18px;
    padding: 40px;
    margin: 20px;
}
.name, .position{
    margin-left: 10px;
    margin-top: 2px;
}
.position{
    border-bottom: #c78c06;
    border-width: 5px;
}

nav i {
    color:#c78c06;
    border-style:solid;
    border-width: 1px;
    border-color:#c78c06;
    font-size: 30px;
padding: 10px;    }
    


img {
    max-width: 100%;
    height: auto;
    width: 100%;
}


.main-banner {  
    width: 100%;
    height:100%;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 200px;
}
.mainbannertext {
    color:white;
    background-color: #222;
    opacity: 80%;
     align-items: center;
     width: 100%; 
}

.bannerbutton{
    color:#222;
    background-color: #c78c06;
    font-size: 30px;
    padding: 40px;
    margin: 20px;
}
.about img{
    margin: 20px;
    margin-bottom: 0;
    width: 95%;
}

.vision {
    color:white;
    padding:50px;
    margin-left:-75px;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    width: 115%;
    align-items: center;
    background-repeat: no-repeat;
}

.visionbutton {
    border:#c78c06 solid 1px;
}

.about, .container, .vision, .john, .bob{
    background-color: #ffe6ac;
}

.wrapper{
    background-color: white;
}
hr {
    border-style: solid;
    color:#c78c06;
    margin-top:0;
    margin-left: 15px;
    margin-right: 15px;
}

input[type=text], [type=email], textarea {
    width: 95%; 
    padding: 12px;
    border-radius: 8px; 
    border-style:ridge;
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px; 
    height: 70px;
  }
textarea{
    height: 300px;
}

.send {
    font-size: 30px;
    color:#c78c06;
    background-color: #222;
}
table {
    width:100%;
    text-align: center;
}
table, th, td {
    border: 1px solid;
    height: 100px;
    padding-top: 30px;
}

th {
    background-color: #ffe6ac;
    font-weight: bold;
}

.maps iframe {width: 100%;
            height: 600px;
            border: 0;
}

footer{
    color: #c78c06;
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 10px;
}



@media screen and (min-width: 760px)
{

    body {
        width: 760px;
        font-size: 14px;

    }
    h1, h2 {margin-top: 20px}
    nav ul {
        all: unset;
        display:flex;
        justify-content:space-between;
        text-align: center;
        list-style-type: none;
        width:400px;   
     }
     .home {width:50px; margin-top:-10px;}
     .a {
        all: unset; 
    }
    .logo {
        margin: 10px;
        width:75px;
        height:75px;
    }
    header a{font-size: 15px; padding:10px; text-align: center;}

    nav input[type=text]{
        width: auto;
        height: auto;
        margin-bottom: 40px;
        margin-top:50px;
        font-size: 10px;
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:-100px;
    width: 125%;
    background-color: #222;
}
nav i {margin-right: 5px; margin-left:0; font-size:10px;}
.main-banner {    margin-left:-100px;
    width: 125%;}
.mainbannertext {
margin:auto;
width: 90%;
}

.bannerbutton{
width: 350px;
}
.about img{
    all:unset;
    margin:auto;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    margin-left:-100px;
    width: 125%;
}

.about img{
    width:50%;
    flex:1;
}
.abouttext {
    flex:1;
}

.container {
    display: grid;
    background-color: #ffe6ac;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 15px;
    grid-template-areas: 
    "digital digital digital  marketing marketing marketing"
    "video video webdevelopment webdevelopment print print";
}

.digital {grid-area: digital}
.marketing {grid-area: marketing}
.video {grid-area: video}
.webdevelopment {grid-area: webdevelopment}
.print {grid-area: print}

button {
margin-left: 10px;
width:80%;
padding: 20px;
}

.vision {
    margin-top: 20px;
    margin-left:-100px;
    width: 125%;
    margin-bottom: 20px;
}

.teamwrapper {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "ourteam ourteam"
    "john johntext"
    "bobtext bob";
}
.teamwrapper h1{ grid-area: ourteam;}
.john img {
    grid-area: john;
}
.johntext {grid-area:johntext;     background-color: #ffe6ac;
}
.bobtext {grid-area:bobtext;     background-color: #ffe6ac;
}
.bob img{
    grid-area:bob;
}
*/
.secondwrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 4fr 2fr;
    grid-auto-rows: auto;
    column-gap: 15px;
    grid-template-areas: 
    "contactheader contactheader"
    "contact maps"
    "contact maps"
    "hours hours";

}
 .contactheader {grid-area:contactheader;}
.contactcontainer {grid-area:contact}
.hoursofoperation {grid-area:hours}
.maps {grid-area:maps}
}

footer {    margin-left:-100px;
    width: 125%; height:80px; padding-top: 10px; margin-top:10px}
/*
    header{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        justify-content: center;
    }

    .logo {
        grid-column: 1 /2;
    }    

    .nav {
            grid-column: 2-5;
    }

    nav input[type=text]{
    grid-column:5 /6} 



        /*
        flex-wrap:no-wrap;
        justify-content: centre;
        align-items: stretch;     
    }
    .logo{
        width: 150px;
        height: 200px;
        padding-bottom: 20px;
        padding-top: 20px;
        grid-area: logo;
    }
    
    
    
    
    /*
    header {
        height:fit-content;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-areas:
        "logo navigation search";
    }

    .logo{
        width: 150px;
        height: 200px;
        padding-bottom: 20px;
        padding-top: 20px;
        grid-area: logo;
    }

    nav ul{
        grid-area: navigation;
        color:#c78c06;
    }
}
nav input[type=text]{
    width: auto;
    height: auto;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top:50px;
    font-size: 20px; 
    grid-area: search;    
}


    .a {
        margin-left: 0px;
        margin-right:0px;
        height: 200px;
        background-color: rgba(34, 34, 34, 0.018);
    }
    /*
 
            

    

