/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1200px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color:#222;
    font-size: 15px;
}
/* Margin and padding are added since I reset the stylesheet formats*/
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
}

h1 {font-size: 2.5rem}
h2 {font-size: 2rem}
h3 {font-size: 1rem}

p{
    margin-left: 20px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-size: 18px;
}

header{
background-color: #222;
}
/* the Navigation bar is vertical on the mobile screen and horizantal on the desktop screen*/
.navbar {
    margin-left: 18px;
    margin-right:18px;
    background-color: #c78c06;
    width: 98%;
}

.logo{
    width: 195px;
    height: 195px;
    padding-top: 30px;
}

/* change the home nav background as a block and black text*/
.home a {
    color:#222;
    margin-bottom: 50px;
}

.home {    
    margin-left: 21px;
    background-color: #c78c06;
    display:flex;
    width: 98%;
    justify-content: center;
    font-weight: bold;
}

.aboutnav { margin-top: -50px }

/*Create vertical (column) nav for mobile screen*/
nav ul {
display: flex;
align-items: center;
justify-content:space-between;
flex-direction: column;
width: 100%;
text-align: center;
min-height: 500px;
}

header a {
color: #c78c06;
text-decoration: none;
list-style-type: none;
font-weight: bold;
text-align: center;
font-size: 30px;
}
/* to stretch the search bar to align with the vertical nav on the mobile screen*/

.searchbar {
    display: flex;
    align-items: center;
    margin-top: 20px;    
}

nav input[type=text]
{
    justify-content: center;
    width: 80%;
    height: 45px;
    margin-left: 20px;
    border-radius: 0%;
    padding: 15px;
    margin-top: 18px;
}
/*to format the magnifying lens in the nav bar*/
nav i {
    color:#c78c06;
    border-style:solid;
    border-width: 1px;
    border-color:#c78c06;
    font-size: 20px;
    padding: 10px;
}

button {
    background-color: #222;
    color: white;
    font-size: 18px;
    padding: 40px;
    margin: 20px;
}

.name, .position {
    margin-left: 10px;
    margin-top: 2px;
}

.position {
    border-bottom: #c78c06;
    border-width: 5px;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.main-banner {  
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom:130px;
}
/* used to add overlay text on background-img*/
.mainbannertext {
    color:white;
    background-color: #222;
    opacity: 80%;
    align-items: center;
    padding: 20px;
    padding-bottom:170px;
}

/* changes the color and size of the button on the mainbanner only*/
.bannerbutton button{
    color:#222;
    background-color: #c78c06;
    font-size: 20px;
    padding: 10px;
    margin-left: 90px;
    position:absolute;
    margin-top: -150px;
    width: 300px;
}
/* changes the size of about us image only since all the other images are full width*/
.about img {
    margin: 20px;
    margin-bottom: 0;
    width: 95%;
}
/* changes the vision size and alignment*/
.vision {
    color:white;
    padding:50px;
    margin-left:-75px;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    width: 115%;
    align-items: center;
    background-repeat: no-repeat;
}

.visionbutton button {
    border:#c78c06 solid 1px;
    width:200px;
}

/*adds background color to the following divs*/
.about, .container, .vision {
    background-color: #ffe6ac;
}
.wrapper{
    background-color: white;
}


.johntext, .bobtext,  .john, .bob {
    background-color: #ffe6ac;    
}
.johntext, .bobtext {
padding-top:10px;
}
/*adds a vertical line*/
hr {
    background-color: #c78c06;
    height: 2px;
    border:none;
    margin-top:0;
    margin-left: 10px;
    margin-right: 15px;
}
/*formats the contact-us form*/
input[type=text], [type=email], textarea {
    width: 95%; 
    padding: 12px;
    border-radius: 8px; 
    border-style:ridge;
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px; 
    height: 70px;
  }

textarea{
    height: 300px;
}

.sendbutton input {
    font-size: 20px;
    color:#c78c06;
    background-color: #222;
}

/*formats the hours of operation table*/
table {
    width:100%;
    text-align: center;
}

table, th, td {
    border: 1px solid;
    height: 100px;
    padding-top: 30px;
}

th {
    background-color: #ffe6ac;
    font-weight: bold;
}

.maps iframe {width: 100%;
            height: 600px;
            border: 0;
}

footer{
    color: #c78c06;
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 20px;
}


@media screen and (min-width: 760px)
{
    body {
        width: 760px;
        font-size: 14px;
    }
    /*reduces the margin in desktop screen to make it appealing*/
    h1, h2 {margin-top: 20px}
    
    /*flex used to align the nav list horizantally on the desktop screen*/
    nav ul {
        all: unset;
        display:flex;
        justify-content:space-between;
        text-align: center;
        list-style-type: none;
        width:400px;   
     }

     .home {width:50px; margin-top:-10px; height:40px}
     /*resets the top margin of about nav on the desktop version*/
     
     .aboutnav { margin-top: 0px }

     /* to reset the previous formatting*/
    .navbar {all: unset;}

    .logo {
        width:150px;
        height:150px;
        padding-left:50px;
        padding-bottom: 20px;
    }

header a {
    font-size: 15px;
    padding:10px;
    text-align: center;
}
    
/* to reduce the size of the search bar to fit the horizantal navbar on desktop*/
    nav input[type=text]{
        width: 250px;
        height: 43px;
        margin-bottom: 40px;
        margin-top:0px;
        font-size: 10px;
    }
    nav i {
        width: auto;
        height: auto;
        margin-bottom: 40px;
        margin-top:0px; 
    }
/*creates responsive nav bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:-100px;
    width: 125%;
    background-color: #222;
}

nav i {margin-right: 50px; margin-left:0; font-size:20px;}
.main-banner {    
    margin-left:-100px;
    width: 125%;
}

.mainbannertext 
{
margin:auto;
height: 200%;
width: 90%;
}

.bannerbutton
{
width: 350px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    margin-left:-100px;
    width: 125%;
    padding-top: 10px;
}

.about img{
    width:50%;
    flex:1;
    margin:auto;
    padding-bottom: 20px;
}

.abouttext {
    flex:1;
}
/* used grid areas to create Our Services section*/

.container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
    column-gap: 15px;
    row-gap: 15px;
    
    grid-template-areas: 
    "digital digital digital  marketing marketing marketing"
    "video video webdevelopment webdevelopment print print";
}

.digital {
    background-color: #ffe6ac;
    grid-area: digital;
}
.marketing {
    background-color: #ffe6ac;
    grid-area: marketing}
.video {
    background-color: #ffe6ac;
    grid-area: video}
.webdevelopment {
    background-color: #ffe6ac;
    grid-area: webdevelopment}
.print {
    background-color: #ffe6ac;
    grid-area: print}

button {
margin-left: 10px;
width:80%;
padding: 20px;
}

.vision {
    margin-top: 20px;
    margin-left:-100px;
    width: 125%;
    margin-bottom: 20px;
}
/*creates grid our team section*/
.teamwrapper {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "ourteam ourteam"
    "john johntext"
    "bobtext bob";
}

.teamwrapper h1{ grid-area: ourteam;}
.john img {
    grid-area: john;
}

.johntext {
    grid-area:johntext;
    background-color: #ffe6ac;
}
.bobtext {
    grid-area:bobtext;
    background-color: #ffe6ac;
}

.bob img{
    grid-area:bob;
}
/*size fit to reduct the font size from h1 in moble to h2 in desktop*/
.maps h1 {font-size: 2rem}

/* different fractions set to keep spaces maintained*/
/*grid areas used to create this section in desktop and move the hours of operations to the end after the map*/
.secondwrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 5fr 3fr 1fr;
    grid-auto-rows: auto;
    column-gap: 15px;
    grid-template-areas: 
    "contactheader contactheader"
    "contact maps"
    "contact maps"
    "hoursheader hoursheader"
    "hours hours";
}
.contactheader {grid-area:contactheader;}
.contactcontainer {grid-area:contact}
.hoursofoperation {grid-area:hoursheader}
.maps {grid-area:maps}
.hours {grid-area: hours}
}

footer {    
    margin-left:-100px;
    width: 125%; height:80px; padding-top: 10px; margin-top:10px;
}

 
            

    

